<div class=" login-box row">

        <form class="form-signin">
        	<i></i>
         <h2 class="form-signin-heading">Sign Up</h2>
        <input  type="text" class="full-width" placeholder="Email" autofocus required>
    	<input type="password" class="full-width" placeholder="Password">
    
       
        <!-- <label class="checkbox">
          <input type="checkbox" value="remember-me"> Remember me
         </label>
         -->
<button class="btn btn-large learn-start-button btn-block" type="submit">Continue</button>
        </form>
 
</div>